<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/dot.png" type="image/x-icon">
    <title>
        CabEase
    </title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <style>
        body{
          min-height:30vh;
          display:flex;
          flex-direction:column;
        }

        footer{
            margin-top:auto;
        }
    </style>
</head>
<body>
<!-- header section starts -->
<header>


    <a class="logo"><span>C</span>AB<span>E</span>ase</a>

    <nav class="navbar">
        <a th:href="@{/review}"><i class="fa-solid fa-house">&nbsp;</i>home</a>
        <a href="index.html#book"><i class="fa-solid fa-book">&nbsp;</i>book</a>
        <a href="index.html#packages"><i class="fa-solid fa-cube">&nbsp;</i>packages</a>
        <a href="index.html#services"><i class="fa-brands fa-servicestack">&nbsp;</i>services</a>
        <a ><i class="fa-solid fa-thumbs-up">&nbsp;</i>review</a>
        <a href="index.html#enquiry"><i class="fa-solid fa-envelope">&nbsp;</i>enquiry</a>
    </nav>

</header>

<!-- footer start -->
<footer>
<section class="footer">

    <div class="box-container">
        <div class="box">
            <h3>about us</h3>
            <p>Welcome to CabEase, your reliable and trusted transportation solution.
                At CabEase, we understand the importance of a comfortable and hassle-free journey.
                Whether you need a ride to the airport, a business meeting, or a night out on the town.
                Our team of skilled drivers undergoes rigorous training and
                possesses extensive knowledge of the local area, ensuring that you reach your destination efficiently.
                We prioritize punctuality and are dedicated to getting you to your desired location on time.
                Customer satisfaction is at the core of our business.
                You can book a taxi through our user-friendly website or give us a call.
                We offer competitive rates and transparent pricing.Thank you for considering CabEase
                for your transportation needs.

            </p>

        </div>

        <!-- <div class="box">
            <h3>branch locations</h3>
            <a href="#">chakki,dalhousie road.</a>
            <a href="#">mamoon,pathankot.</a>
        </div> -->

        <div class="box">
            <h3>quick links</h3>
            <a href="#home">home</a>
            <a href="#book">book</a>
            <a href="#packages">packages</a>
            <a href="#services">services</a>
            <a href="#review">review</a>
            <a href="#enquiry">enquiry</a>
        </div>


        <div class="box">
            <h3>follow us </h3>
            <a href="#home">facebook</a>
            <a href="#book">Instagram</a>
            <a href="#packages">linkedin</a>
        </div>

        <div class="box">
            <h3>Contact us</h3>
            <a href="">98159-13817</a>
            <a href="">85578-91773</a>
            <a href="">78377-83495</a>
            <a href="">Khushaldadwal73@gmail.com</a>
        </div>

    </div>



    <h1 class="credit">&#169; 2023 <span>CabEase </span>All rights reserved! <br>
        Developed by <span>khushal dadwal </span>
    </h1>

</section>
</footer>
</body>